In [ ]:
# Carregamento das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
# Carregamento do dataset de idade
df_idade = pd.read_csv(
    './Dataset/idade.csv',
    sep=';',
    encoding='latin-1',
    skiprows=3,
    quotechar='"',
    low_memory=False
)

In [ ]:
# Garantir que a coluna nomeia corretamente
df_idade.rename(columns={'Município': 'MUNICIPIO'}, inplace=True)

# Remover números e espaços extras no início do nome
df_idade['MUNICIPIO'] = (
    df_idade['MUNICIPIO']
    .astype(str)
    .str.replace(r'^\d+\s*', '', regex=True)  # remove números no início
    .str.strip()                              # tira espaços extras
)

# Conferir
df_idade.head()

,MUNICIPIO,0 a 4 anos,5 a 9 anos,10 a 14 anos,15 a 19 anos,20 a 29 anos,30 a 39 anos,40 a 49 anos,50 a 59 anos,60 a 69 anos,70 a 79 anos,80 anos e mais,Total
0,ALTA FLORESTA D'OESTE,1601.0,1592.0,1556.0,1623.0,3652.0,3568.0,3101.0,2901.0,1782.0,812.0,328.0,22516.0
1,ARIQUEMES,8396.0,8262.0,8317.0,9490.0,20100.0,18822.0,15160.0,11695.0,6809.0,2991.0,1106.0,111148.0
2,CABIXI,379.0,375.0,332.0,292.0,724.0,754.0,785.0,699.0,459.0,191.0,77.0,5067.0
3,CACOAL,5846.0,5939.0,6065.0,6412.0,14391.0,14626.0,12374.0,10077.0,6509.0,2939.0,1238.0,86416.0
4,CEREJEIRAS,1068.0,1097.0,1077.0,1094.0,2594.0,2648.0,2254.0,2129.0,1263.0,617.0,247.0,16088.0

In [ ]:
# Verificar o número de linhas no DataFrame
len(df_idade)

5577

In [ ]:
# Verificar número de municípios únicos
df_idade['MUNICIPIO'].nunique()
df_idade[['MUNICIPIO']].head(10)

               MUNICIPIO
0  ALTA FLORESTA D'OESTE
1              ARIQUEMES
2                 CABIXI
3                 CACOAL
4             CEREJEIRAS
5      COLORADO DO OESTE
6             CORUMBIARA
7          COSTA MARQUES
8        ESPIGAO D'OESTE
9          GUAJARA-MIRIM

In [ ]:
# Salvar arquivo tratado 
df_idade.to_csv('./Dataset/idade_tratado.csv', sep=';', index=False, encoding='utf-8')