In [ ]:
#Carregamento das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
#Carregamento do dataset de municípios
df_municipio = pd.read_csv(
    './Dataset/municipios_br.csv',
    sep=';',
    encoding='utf-8',
    header=None,
    engine='python',
    quotechar='"'
)

In [ ]:
#Exibir as primeiras 10 linhas do DataFrame
df_municipio.head(10)

                                                   0
0  id_municipio,id_municipio_6,id_municipio_tse,i...
1  5101837,510183,,,,Boa Esperança do Norte,,,,,5...
2  1100809,110080,477,681,46961,Candeias do Jamar...
3  1100338,110033,434,47,44516,Nova Mamoré,0,1100...
4  1100205,110020,35,3,30719,Porto Velho,1,110020...
5  1101104,110110,493,683,46851,Itapuã do Oeste,0...
6  1100940,110094,680,8,56652,Cujubim,0,1100023,1...
7  1100452,110045,779,4,56638,Buritis,0,1100452,1...
8  1100700,110070,671,679,46947,Campo Novo de Ron...
9  1100106,110010,19,1,22882,Guajará-Mirim,0,1100...

In [ ]:
#Mostrar as colunas do DataFrame
df_municipio.columns

Index([0], dtype='int64')